* {
  box-sizing: border-box;
}

/* || General styles */
body {
  font-family: "Francois-One", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}

/* || Nav styles */
.navbar {
  background: rgb(63, 59, 81);
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 20;
}

.name {
  color: white;
  text-decoration: none;
  text-align: left;
  padding: 10px;
  font-weight: bolder;
}

/* ul li {
  border-bottom: 2px solid white;
  display: inline-block;
  list-style: none;
  padding: 10px;
  text-align: right;
  width: 100%;
}

ul li:hover {
  color: white;
  text-decoration: none;
} */

.toggle-menu {
  width: 100%;
  padding: 20px;
  background: black;
  text-align: right;
  box-sizing: border-box;
  color: white;
  font-size: 20px;
  display: none;
  padding: 10px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 300px;
}
.content {
  width: 280px;
}
.main-header {
  text-align: center;
}
.sub-header {
  text-align: center;
}

.links {
  text-align: center;
  padding: 20px;
}
/* .padding {
  margin-left: auto;
  margin-right: auto;
} */
/* .menu-dropdown {
  background: black;
  color: white;
  float: right;
  margin-bottom: 0;
  margin-right: 5px;
  padding: 20px;
  
  width: 100%;
} */

/* || header styles */
header {
  background: url("images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 320px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

h2 {
  text-align: left;
}

.bio {
  font-size: 16px;
  height: 500px;
  line-height: 1.5;
  text-align: left;
  width: 300px;
}

p span {
  display: inline-block;
}

/* || Project styles */
.quiz-app {
  background: url("images/etymology-quiz.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.bookmarks-video {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
video {
  width: 300px;
}
.contact {
  text-decoration: none;
  color: white;
}

header {
  padding: 12% 0;
}

section {
  min-height: 100px;
  padding: 5% 0;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background: rgb(63, 59, 81);
  color: white;
}

/* 
section:nth-child(even) {
  min-height: 100px;
  padding: 5% 0;
} */

/* .menu {
  float: right;
  padding-right: 10px;
} */
/* 
.jump-to-portfolio {
  height: 80px;
} */

/* 
@media (min-width: 320px) {
  .logo {
    font-size: 25px;
  }
  .menu-dropdown {
    width: 300px;
  }
} */
@media (min-width: 768px) {
  .container {
    width: 700px;
  }
  .content {
    width: 700px;
  }
  video {
    width: 700px;
  }
  header {
    /* background: url("images/hero.jpg"); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    height: 620px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }
}
@media (min-width: 2560px) {
  .container {
    width: 1600px;
  }
  .content {
    width: 1600px;
  }
  video {
    width: 1600px;
  }
  header {
    height: 700px;
    float: right;

    width: 600px;
  }
  .navbar {
    background: rgb(63, 59, 81);
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 20;
  }
  .name {
    font-size: larger;
  }
}
